Repository vaadin/docs, pull requests merged in 2021-06, with the labels that each got.

#510 Reload on session expiration when included example is loaded
  frontend/demo/example-resources.ts
Labels: TypeScript

#316 AppLayout: Java examples
  articles/ds/components/app-layout/index.asciidoc
  frontend/demo/component/app-layout/app-layout-basic.ts
  frontend/demo/component/app-layout/app-layout-bottom-navbar.ts
  frontend/demo/component/app-layout/app-layout-drawer.ts
  frontend/demo/component/app-layout/app-layout-navbar-placement-side.ts
  frontend/demo/component/app-layout/app-layout-navbar-placement.ts
  frontend/demo/component/app-layout/app-layout-navbar.ts
  frontend/demo/component/app-layout/app-layout-secondary-navigation.ts
  src/main/java/com/vaadin/demo/component/applayout/AppLayoutBasic.java
  src/main/java/com/vaadin/demo/component/applayout/AppLayoutBottomNavbar.java
  src/main/java/com/vaadin/demo/component/applayout/AppLayoutDrawer.java
  src/main/java/com/vaadin/demo/component/applayout/AppLayoutNavbar.java
  src/main/java/com/vaadin/demo/component/applayout/AppLayoutNavbarPlacement.java
  src/main/java/com/vaadin/demo/component/applayout/AppLayoutNavbarPlacementSide.java
  src/main/java/com/vaadin/demo/component/applayout/AppLayoutSecondaryNavigation.java
Labels: AsciiDoc OK, Java, TypeScript

#263 Tabs: Java examples
  articles/ds/components/tabs/index.asciidoc
  frontend/demo/component/tabs/tabs-badges.ts
  frontend/demo/component/tabs/tabs-content.ts
  frontend/demo/component/tabs/tabs-hide-scroll-buttons.ts
  frontend/demo/component/tabs/tabs-horizontal.ts
  frontend/demo/component/tabs/tabs-icons-horizontal.ts
  frontend/demo/component/tabs/tabs-icons-vertical.ts
  frontend/demo/component/tabs/tabs-theme-centered.ts
  frontend/demo/component/tabs/tabs-vertical.ts
  src/main/java/com/vaadin/demo/component/tabs/TabsBadges.java
  src/main/java/com/vaadin/demo/component/tabs/TabsBasic.java
  src/main/java/com/vaadin/demo/component/tabs/TabsContent.java
  src/main/java/com/vaadin/demo/component/tabs/TabsHideScrollButtons.java
  src/main/java/com/vaadin/demo/component/tabs/TabsHorizontal.java
  src/main/java/com/vaadin/demo/component/tabs/TabsIconsHorizontal.java
  src/main/java/com/vaadin/demo/component/tabs/TabsIconsVertical.java
  src/main/java/com/vaadin/demo/component/tabs/TabsStates.java
  src/main/java/com/vaadin/demo/component/tabs/TabsThemeCentered.java
  src/main/java/com/vaadin/demo/component/tabs/TabsThemeEqualWidth.java
  src/main/java/com/vaadin/demo/component/tabs/TabsThemeMinimal.java
  src/main/java/com/vaadin/demo/component/tabs/TabsThemeSmall.java
  src/main/java/com/vaadin/demo/component/tabs/TabsVertical.java
Labels: AsciiDoc OK, Java OK, TypeScript OK

#502 Changed the first code sample to use VerticalLayout instead of Div
  articles/guide/introduction/index.asciidoc
Labels: Java

#432 Cookie consent: Java examples
  articles/ds/components/cookie-consent/index.asciidoc
  frontend/demo/component/cookieconsent/cookie-consent-basic.ts
  frontend/demo/component/cookieconsent/cookie-consent-localization.ts
  frontend/demo/component/cookieconsent/cookie-consent-theming.ts
  frontend/themes/docs/cookie-consent-example.css
  frontend/themes/docs/cookie-consent-theming.css
  frontend/themes/docs/login-rich-content.css
  frontend/themes/docs/styles.css
  src/main/java/com/vaadin/demo/component/cookieconsent/CookieConsentBasic.java
  src/main/java/com/vaadin/demo/component/cookieconsent/CookieConsentLocalization.java
  src/main/java/com/vaadin/demo/component/cookieconsent/CookieConsentTheming.java
Labels: AsciiDoc OK, Java OK

#458 feat: add view based access control documentation
  articles/flow/integrations/spring/view-based-access-control.asciidoc
  articles/flow/security/best-practices.asciidoc
Labels: AsciiDoc

#438 Custom Field: Java examples
  articles/ds/components/custom-field/index.asciidoc
  frontend/demo/component/custom-field/custom-field-basic.ts
  frontend/demo/component/custom-field/custom-field-native-input.ts
  frontend/demo/component/custom-field/custom-field-size-variants.ts
  src/main/java/com/vaadin/demo/component/customfield/CustomFieldBasic.java
  src/main/java/com/vaadin/demo/component/customfield/CustomFieldNativeInput.java
  src/main/java/com/vaadin/demo/component/customfield/CustomFieldSizeVariants.java
  src/main/java/com/vaadin/demo/component/customfield/DateRangePicker.java
  src/main/java/com/vaadin/demo/component/customfield/LocalDateRange.java
  src/main/java/com/vaadin/demo/component/customfield/Money.java
  src/main/java/com/vaadin/demo/component/customfield/MoneyField.java
  src/main/java/com/vaadin/demo/component/customfield/PaymentInformation.java
  src/main/java/com/vaadin/demo/component/customfield/PaymentInformationField.java
  src/main/java/com/vaadin/demo/domain/Appointment.java
Labels: AsciiDoc OK, Java OK, TypeScript OK

#524 fix: Address route scope DX comments
  articles/flow/integrations/spring/scopes.asciidoc
Labels: AsciiDoc OK

#499 Documentation for Utility Classes
  articles/ds/foundation/index.asciidoc
  articles/ds/foundation/utility-classes.asciidoc
  frontend/demo/foundation/lumo-tokens.ts
  package.json
Labels: AsciiDoc

#531 SVG Generator documentation
  articles/ds/components/charts/java-api/svg-generator.asciidoc
Labels: AsciiDoc OK

#530 docs: add grid cell focus docs
  articles/ds/components/grid/index.asciidoc
  frontend/demo/component/grid/grid-cell-focus.ts
  src/main/java/com/vaadin/demo/component/grid/GridCellFocus.java
Labels: AsciiDoc OK, Java OK, TypeScript OK

#538 docs: virtual-list docs and examples
  articles/ds/components/index.asciidoc
  articles/ds/components/virtual-list/api.asciidoc
  articles/ds/components/virtual-list/index.asciidoc
  articles/ds/components/virtual-list/virtual-list.png
  frontend/demo/component/virtuallist/virtual-list-basic.ts
  src/main/java/com/vaadin/demo/component/virtuallist/VirtualListBasic.java
Labels: AsciiDoc OK, Java OK, TypeScript OK, no-polymer

#546 docs: update ds/foundation/icons to use vaadin-icon
  articles/ds/foundation/icons/index.asciidoc
  articles/ds/foundation/icons/vaadin.asciidoc
Labels: no-polymer

#540 Svg generator DX fixes
  articles/ds/components/charts/java-api/svg-generator.asciidoc
Labels: AsciiDoc OK, design system

#542 Updated getting started links
  .github/styles/Vaadin/Abbr.yml
  .github/styles/Vocab/Docs/accept.txt
  articles/flow/integrations/spring/tutorial-spring-basic-mvc.asciidoc
  articles/flow/integrations/spring/tutorial-spring-basic.asciidoc
Labels: AsciiDoc OK

#535 fix: emphasize not to include generated theme file
  articles/flow/styling/custom-theme-packaging.asciidoc
Labels: AsciiDoc OK

#549 docs: removing Template API
  articles/fusion/advanced/components-definitions.asciidoc
  articles/fusion/application/basics.asciidoc
  articles/fusion/forms/appendix-vaadin-components.asciidoc
  articles/guide/upgrading.asciidoc
Labels: AsciiDoc, design system

#564 fix: Improve wording and codes for View-based access control
  articles/flow/security/best-practices.asciidoc
Labels: AsciiDoc OK

#563 Update nullability info
  .github/styles/Vocab/Docs/accept.txt
  articles/fusion/advanced/endpoints-generator.asciidoc
Labels: AsciiDoc OK, TypeScript, fusion

#528 Docs for MessageConfigurator
  articles/ce/collaboration-message-list.asciidoc
  src/main/java/com/vaadin/demo/ce/MessageListDocumentation.java
Labels: AsciiDoc OK, Java

#541 docs: minor updates regarding references to Lit
  .github/styles/Vocab/Docs/accept.txt
  articles/fusion/advanced/components-definitions.asciidoc
  articles/fusion/application/events.asciidoc
  articles/fusion/application/lit.asciidoc
  articles/fusion/application/state-management.asciidoc
  articles/fusion/forms/appendix-client-side-form-binding-reference.asciidoc
  articles/fusion/forms/appendix-vaadin-components.asciidoc
  articles/fusion/forms/binder-validation.asciidoc
  articles/fusion/forms/binding-arrays.asciidoc
  articles/fusion/forms/overview.asciidoc
  articles/fusion/tutorials/in-depth-course/application-state-management-with-mobx.adoc
  articles/fusion/tutorials/in-depth-course/creating-components.adoc
  articles/fusion/tutorials/in-depth-course/creating-views.adoc
  articles/fusion/tutorials/in-depth-course/index.adoc
  articles/fusion/tutorials/in-depth-course/installing-and-offline-pwa.adoc
  articles/fusion/tutorials/quick-start-tutorial.asciidoc
  articles/guide/upgrading.asciidoc
Labels: AsciiDoc, documentation

#574 add fusion nullability change to upgradd doc
  articles/guide/upgrading.asciidoc
Labels: fusion

#495 chore: explain how RouteScope can be used instead of ViewScope
  articles/tools/mpr/introduction/3-spring-boot.asciidoc
Labels: AsciiDoc OK, Java OK

#567 CE: Add PresenceManager documentation
  articles/ce/components/collaboration-avatar-group.asciidoc
  articles/ce/components/collaboration-binder.asciidoc
  articles/ce/components/collaboration-message-list.asciidoc
  articles/ce/components/images/collaboration-avatar-group-example.png
  articles/ce/components/images/collaboration-binder-example.png
  articles/ce/components/images/collaboration-messages-example.png
  articles/ce/components/index.asciidoc
  articles/ce/managers/index.asciidoc
  articles/ce/managers/presence-manager.asciidoc
  articles/ce/topic-api.asciidoc
  src/main/java/com/vaadin/demo/ce/PresenceManagerExample.java
Labels: AsciiDoc OK, Java OK

#572 docs: make focus outline always visible in grid cell focus example
  articles/ds/components/grid/index.asciidoc
  frontend/demo/component/grid/grid-cell-focus.ts
  frontend/themes/docs/components/vaadin-grid-cell-focus.css
  frontend/themes/docs/components/vaadin-grid.css
  src/main/java/com/vaadin/demo/component/grid/GridCellFocus.java
Labels: AsciiDoc

#227 chore: add OSGi services tutorial
  articles/flow/integrations/osgi/advanced.asciidoc
  articles/flow/integrations/osgi/basic.asciidoc
  articles/flow/integrations/osgi/index.asciidoc
  articles/flow/integrations/osgi/karaf.asciidoc
  articles/flow/integrations/overview.asciidoc
  articles/flow/overview.asciidoc
Labels: AsciiDoc OK

#534 fix: use timestamp to check if session is still alive
  frontend/demo/example-resources.ts
  frontend/demo/session-verification.ts
  src/main/java/com/vaadin/demo/DemoExporter.java
Labels: TypeScript

#595 fix: use guard() when assigning a renderer
  frontend/demo/component/badge/badge-highlight.ts
Labels: TypeScript OK

#593 docs: add horizontal layout + spacing examples
  articles/ds/components/basic-layouts/index.asciidoc
  frontend/demo/component/basiclayouts/basic-layouts-expanding-items.ts
  frontend/demo/component/basiclayouts/basic-layouts-horizontal-layout-horizontal-alignment.ts
  frontend/demo/component/basiclayouts/basic-layouts-horizontal-layout-individual-alignment.ts
  frontend/demo/component/basiclayouts/basic-layouts-horizontal-layout-vertical-alignment.ts
  frontend/demo/component/basiclayouts/basic-layouts-horizontal-layout.ts
  frontend/demo/component/basiclayouts/basic-layouts-margin.ts
  frontend/demo/component/basiclayouts/basic-layouts-padding.ts
  frontend/demo/component/basiclayouts/basic-layouts-spacing-variants.ts
  frontend/demo/component/basiclayouts/basic-layouts-spacing.ts
  frontend/themes/docs/basic-layouts.css
  src/main/java/com/vaadin/demo/component/basiclayouts/BasicLayoutsExpandingItems.java
  src/main/java/com/vaadin/demo/component/basiclayouts/BasicLayoutsHorizontalLayout.java
  src/main/java/com/vaadin/demo/component/basiclayouts/BasicLayoutsHorizontalLayoutHorizontalAlignment.java
  src/main/java/com/vaadin/demo/component/basiclayouts/BasicLayoutsHorizontalLayoutIndividualAlignment.java
  src/main/java/com/vaadin/demo/component/basiclayouts/BasicLayoutsHorizontalLayoutVerticalAlignment.java
  src/main/java/com/vaadin/demo/component/basiclayouts/BasicLayoutsMargin.java
  src/main/java/com/vaadin/demo/component/basiclayouts/BasicLayoutsPadding.java
  src/main/java/com/vaadin/demo/component/basiclayouts/BasicLayoutsSpacing.java
  src/main/java/com/vaadin/demo/component/basiclayouts/BasicLayoutsSpacingVariants.java
Labels: AsciiDoc OK, Java, TypeScript

#575 Update to Vaadin 21.0.0.alpha8
  articles/ce/managers/presence-manager.asciidoc
  articles/fusion/application/accessing-backend.asciidoc
  articles/fusion/application/error-handling.asciidoc
  articles/fusion/tutorials/in-depth-course/type-safe-server-access-with-endpoints.adoc
  articles/fusion/tutorials/quick-start-tutorial.asciidoc
  articles/guide/upgrading.asciidoc
  frontend/demo/component/virtuallist/virtual-list-basic.ts
  frontend/demo/fusion/errorhandling/catch-error.ts
  pom.xml
  src/main/java/com/vaadin/demo/DashboardEndpoint.java
  src/main/java/com/vaadin/demo/DummyEndpoint.java
  src/main/java/com/vaadin/demo/ce/PresenceManagerExample.java
  src/main/java/com/vaadin/demo/fusion/errorhandling/DateEndpoint.java
  src/main/java/com/vaadin/demo/fusion/forms/ContactEndpoint.java
  src/main/java/com/vaadin/demo/fusion/forms/fieldstrategy/SamplePersonEndpoint.java
  src/main/java/com/vaadin/demo/fusion/security/authentication/UserInfoEndpoint.java
  src/main/java/com/vaadin/demo/pwa/offline/DataEndpoint.java
Labels: documentation, fusion

#602 feat: deprecate mispelled icons on icons preview page
  frontend/demo/foundation/icons-preview.ts
Labels: no-polymer

#584 Docs for devmode.serializeSession
  articles/guide/configuration/index.asciidoc
Labels: AsciiDoc OK

#585 Fix Designer instructions typos
  articles/tools/designer/getting-started/designer-build-your-main-view.asciidoc
Labels: AsciiDoc OK

#568 docs: add hint about using percentage values with vertical orientation
  articles/ds/components/split-layout/index.asciidoc
Labels: AsciiDoc
