Repository vaadin/docs, pull requests merged in 2021-12, with the labels that each got.

#958 docs: update variant inheritance article to use CRUD
  articles/ds/customization/component-variants.asciidoc
Labels: AsciiDoc OK

#963 Remove initial image from Quick Start guide
  articles/flow/guide/_images/app-overview.png
  articles/flow/guide/quick-start.adoc
Labels: AsciiDoc OK

#966 Remove initial image from Quick Start guide (Fusion)
  articles/fusion/guide/quick-start.asciidoc
Labels: AsciiDoc OK

#977 Updated the package referenced for repositories
  articles/fusion/tutorials/in-depth-course/type-safe-server-access-with-endpoints.adoc
Labels: fusion

#979 Add mention of SessionInitListener
  articles/flow/advanced/tutorial-ui-init-listener.asciidoc
Labels: AsciiDoc

#978 Add Custom Error Handling page
  articles/flow/advanced/framework-security.asciidoc
  articles/flow/advanced/tutorial-application-lifecycle.asciidoc
  articles/flow/advanced/tutorial-bootstrap.asciidoc
  articles/flow/advanced/tutorial-custom-error-handler.asciidoc
  articles/flow/advanced/tutorial-dependency-filter.asciidoc
  articles/flow/advanced/tutorial-dynamic-content.asciidoc
  articles/flow/advanced/tutorial-history-api.asciidoc
  articles/flow/advanced/tutorial-i18n-localization.asciidoc
  articles/flow/advanced/tutorial-loading-indicator.asciidoc
  articles/flow/advanced/tutorial-making-components-osgi-compatible.asciidoc
  articles/flow/advanced/tutorial-preserving-state-on-refresh.asciidoc
  articles/flow/advanced/tutorial-push-access.asciidoc
  articles/flow/advanced/tutorial-push-broadcaster.asciidoc
  articles/flow/advanced/tutorial-push-configuration.asciidoc
  articles/flow/advanced/tutorial-service-init-listener.asciidoc
  articles/flow/advanced/tutorial-stream-resources.asciidoc
  articles/flow/advanced/tutorial-ui-init-listener.asciidoc
Labels: AsciiDoc

#993 Fix typos
  articles/flow/advanced/tutorial-ui-init-listener.asciidoc
Labels: AsciiDoc OK

#994 Add Custom Error Handling page (vLatest)
  articles/flow/advanced/application-lifecycle.asciidoc
  articles/flow/advanced/browser-access.asciidoc
  articles/flow/advanced/custom-error-handler.asciidoc
  articles/flow/advanced/dependency-filter.asciidoc
  articles/flow/advanced/dynamic-content.asciidoc
  articles/flow/advanced/history-api.asciidoc
  articles/flow/advanced/i18n-localization.asciidoc
  articles/flow/advanced/loading-indicator.asciidoc
  articles/flow/advanced/loading-resources.asciidoc
  articles/flow/advanced/modifying-the-bootstrap-page.asciidoc
  articles/flow/advanced/preserving-state-on-refresh.asciidoc
  articles/flow/advanced/service-init-listener.asciidoc
  articles/flow/advanced/servlet-container-authentication.asciidoc
  articles/flow/advanced/session-and-ui-init-listener.asciidoc
  articles/flow/advanced/stream-resources.asciidoc
Labels: AsciiDoc OK

#995 Fix links to V14 upgrading guides
  articles/shared/upgrading/_changes.asciidoc
Labels: AsciiDoc OK

#996 Update overview.asciidoc
  articles/flow/configuration/overview.asciidoc
Labels: AsciiDoc OK

#1000 Mention the use of `@Component` to register `VaadinServiceInitListener`
  articles/flow/advanced/tutorial-service-init-listener.asciidoc
Labels: AsciiDoc OK

#1002 docs: use setEnabled API in menu bar disabled demo
  src/main/java/com/vaadin/demo/component/menubar/MenuBarDisabled.java
Labels: Java

#1003 Mention the use of @Component to register VaadinServiceInitListener
  articles/flow/advanced/service-init-listener.asciidoc
Labels: AsciiDoc

#950 Clarify and simplify Flow Get Started section, with a view to enhancing the onboarding experience for new users.
  .github/styles/Vocab/Docs/accept.txt
  articles/flow/advanced/application-lifecycle.asciidoc
  articles/flow/application/overview.asciidoc
  articles/flow/application/ui.asciidoc
  articles/flow/binding-data/components-binder.asciidoc
  articles/flow/components/overview.asciidoc
  articles/flow/creating-components/basic.asciidoc
  articles/flow/creating-components/composite.asciidoc
  articles/flow/creating-components/container.asciidoc
  articles/flow/creating-components/events.asciidoc
  articles/flow/creating-components/extending-component.asciidoc
  articles/flow/creating-components/lifecycle-callbacks.asciidoc
  articles/flow/creating-components/many-elements.asciidoc
  articles/flow/creating-components/mixins.asciidoc
  articles/flow/creating-components/overview.asciidoc
  articles/flow/creating-components/property-descriptor.asciidoc
  articles/flow/dnd/overview.asciidoc
  articles/flow/element-api/properties-attributes.asciidoc
  articles/flow/integrations/embedding/overview.asciidoc
  articles/flow/integrations/overview.asciidoc
  articles/flow/overview.asciidoc
  articles/flow/routing/overview.asciidoc
  articles/flow/templates/overview.asciidoc
  articles/flow/web-components/integrating-a-web-component.asciidoc
Labels: AsciiDoc OK

#999 Fix Servlet version
  articles/flow/advanced/application-lifecycle.asciidoc
Labels: AsciiDoc OK

#988 feat: Create upgrading tool
  articles/flow/advanced/modifying-the-bootstrap-page.asciidoc
  articles/flow/upgrading/changes.asciidoc
  articles/flow/upgrading/index.asciidoc
  articles/flow/upgrading/overview.asciidoc
  articles/fusion/application/starting.asciidoc
  articles/fusion/upgrading/changes.asciidoc
  articles/fusion/upgrading/index.asciidoc
  articles/fusion/upgrading/overview.asciidoc
  articles/shared/upgrading/_changes.asciidoc
  articles/shared/upgrading/_common-steps.asciidoc
  articles/tools/mpr/introduction/5-adding-legacy-components.asciidoc
  articles/upgrading/common/_15-16.adoc
  articles/upgrading/common/_16-17.adoc
  articles/upgrading/common/_17-18.adoc
  articles/upgrading/common/_after-upgrade.adoc
  articles/upgrading/common/_before-upgrade-spring.adoc
  articles/upgrading/common/_before-upgrade.adoc
  articles/upgrading/flow/_14-15.adoc
  articles/upgrading/flow/_17-18.adoc
  articles/upgrading/flow/_18-19.adoc
  articles/upgrading/flow/_19-20.adoc
  articles/upgrading/flow/_20-21.adoc
  articles/upgrading/flow/_21-22.adoc
  articles/upgrading/fusion/_14-15.adoc
  articles/upgrading/fusion/_17-18.adoc
  articles/upgrading/fusion/_18-19.adoc
  articles/upgrading/fusion/_19-20.adoc
  articles/upgrading/fusion/_20-21.adoc
  articles/upgrading/fusion/_21-22.adoc
  articles/upgrading/index.adoc
  articles/upgrading/typescript/_20-21.adoc
  articles/upgrading/typescript/_21-22.adoc
  frontend/demo/upgrade-tool/upgrade-tool.ts
Labels: AsciiDoc, TypeScript
