Repository vaadin/docs, pull requests merged in 2021-05, with the labels that each got.

#420 apply clarifications to the gradle documentation based on PiT
  articles/guide/start/gradle.asciidoc
Labels: documentation

#429 mention security changes in upgrade guide, reduce in-line code.
  articles/fusion/security/spring-login.asciidoc
  articles/guide/upgrading.asciidoc
  src/main/java/com/vaadin/demo/SecurityConfig.java
Labels: fusion

#373 Brought v14 docs for production mode in par with the latest branch
  articles/guide/production/cloud-providers.asciidoc
  articles/guide/production/index.asciidoc
  articles/guide/production/jetty.asciidoc
  articles/guide/production/servlet-containers.asciidoc
  articles/guide/production/spring-boot.asciidoc
  articles/guide/production/troubleshooting.asciidoc
Labels: AsciiDoc OK

#451 Collaboration Engine article titles
  articles/ce/collaboration-avatar-group.asciidoc
  articles/ce/collaboration-binder.asciidoc
  articles/ce/collaboration-message-list.asciidoc
  articles/ce/developing-with-ce.asciidoc
  articles/ce/going-to-production.asciidoc
  articles/ce/tutorial.asciidoc
Labels: AsciiDoc OK

#455 Fix prettier errors
  frontend/demo/component/custom-field/custom-field-size-variants.ts
  frontend/demo/component/grid/grid-column-alignment.ts
  frontend/demo/component/grid/grid-context-menu.ts
  frontend/demo/component/messages/message-basic.ts
  frontend/demo/component/select/select-basic.ts
  frontend/demo/component/select/select-disabled.ts
  frontend/demo/component/select/select-dividers.ts
  frontend/demo/component/select/select-placeholder.ts
  frontend/demo/component/upload/upload-demo-helpers.ts
Labels: TypeScript

#389 Mention login CSRF token handling
  articles/ds/components/login/index.asciidoc
Labels: AsciiDoc OK

#407 Extend docs with Page::retrieveExtendedClientDetails method info
  articles/flow/advanced/browser-access.asciidoc
Labels: AsciiDoc OK

#435 Add Basic Layouts docs and TS examples
  .github/styles/Vocab/Docs/accept.txt
  articles/ds/components/basic-layouts/index.asciidoc
  frontend/demo/component/basiclayouts/basic-layouts-expanding-items.ts
  frontend/demo/component/basiclayouts/basic-layouts-horizontal-layout-horizontal-alignment.ts
  frontend/demo/component/basiclayouts/basic-layouts-horizontal-layout-individual-alignment.ts
  frontend/demo/component/basiclayouts/basic-layouts-horizontal-layout-vertical-alignment.ts
  frontend/demo/component/basiclayouts/basic-layouts-horizontal-layout.ts
  frontend/demo/component/basiclayouts/basic-layouts-margin.ts
  frontend/demo/component/basiclayouts/basic-layouts-padding.ts
  frontend/demo/component/basiclayouts/basic-layouts-spacing-variants.ts
  frontend/demo/component/basiclayouts/basic-layouts-spacing.ts
  frontend/demo/component/basiclayouts/basic-layouts-vertical-layout-horizontal-alignment.ts
  frontend/demo/component/basiclayouts/basic-layouts-vertical-layout-individual-alignment.ts
  frontend/demo/component/basiclayouts/basic-layouts-vertical-layout-vertical-alignment.ts
  frontend/demo/component/basiclayouts/basic-layouts-vertical-layout.ts
  frontend/demo/component/basiclayouts/layout-item.ts
Labels: AsciiDoc, TypeScript

#457 fix: Vale errors on component index and api pages
  .github/styles/Vocab/Docs/accept.txt
  articles/ds/components/progress-bar/index.asciidoc
  articles/ds/components/radio-button/index.asciidoc
  articles/ds/foundation/elevation.asciidoc
  articles/ds/foundation/icons/index.asciidoc
Labels: AsciiDoc OK

#450 Display a ToC banner on migration pages
  articles/flow/migration/1-migrating-v8-v10.asciidoc
  articles/flow/migration/2-migration-strategies.asciidoc
  articles/flow/migration/3-general-differences.asciidoc
  articles/flow/migration/4-routing-navigation.asciidoc
  articles/flow/migration/5-components.asciidoc
  articles/flow/migration/6-theming.asciidoc
  articles/flow/migration/7-tools-integrations.asciidoc
  articles/flow/migration/8-migration-example.asciidoc
  articles/flow/migration/_migration-banner.asciidoc
  articles/flow/migration/images/migration-assistance.png
  dspublisher/theme/global.css
  dspublisher/theme/styles/banners.css
  frontend/demo/render-banner.ts
Labels: AsciiDoc, TypeScript

#452 Display a ToC banner on tutorial pages
  articles/flow/tutorials/in-depth-course/_ebook-banner.adoc
  articles/flow/tutorials/in-depth-course/components-and-layouts.adoc
  articles/flow/tutorials/in-depth-course/configuring-vaadin-grid.adoc
  articles/flow/tutorials/in-depth-course/creating-a-component.adoc
  articles/flow/tutorials/in-depth-course/data-binding-and-events.adoc
  articles/flow/tutorials/in-depth-course/database-entities-and-services.adoc
  articles/flow/tutorials/in-depth-course/e2e-testing-with-testbench.adoc
  articles/flow/tutorials/in-depth-course/filtering-vaadin-grid.adoc
  articles/flow/tutorials/in-depth-course/forms-and-validation.adoc
  articles/flow/tutorials/in-depth-course/images/ebook.png
  articles/flow/tutorials/in-depth-course/index.adoc
  articles/flow/tutorials/in-depth-course/installing-and-offline-pwa.adoc
  articles/flow/tutorials/in-depth-course/login-and-authentication.adoc
  articles/flow/tutorials/in-depth-course/navigation-and-layouts.adoc
  articles/flow/tutorials/in-depth-course/production-deployment.adoc
  articles/flow/tutorials/in-depth-course/project-setup.adoc
  articles/flow/tutorials/in-depth-course/unit-and-integration-testing.adoc
  dspublisher/theme/global.css
  dspublisher/theme/styles/banners.css
  frontend/demo/render-banner.ts
Labels: AsciiDoc, TypeScript

#467 Fix ToC banner image on v14
  dspublisher/theme/styles/banners.css
  frontend/demo/render-banner.ts
Labels: AsciiDoc, TypeScript

#468 Fix ToC banner image on v10
  dspublisher/theme/styles/banners.css
  frontend/demo/render-banner.ts
Labels: AsciiDoc, TypeScript

#459 Clarify the role of package and package lock
  articles/guide/upgrading/v10-13/index.asciidoc
Labels: AsciiDoc OK

#464 Added "GreetService" to the files to be added to the ui folder
  articles/flow/tutorials/in-depth-course/components-and-layouts.adoc
Labels: AsciiDoc OK

#466 Minor cosmetic edits
  articles/fusion/security/intro.asciidoc
Labels: AsciiDoc OK

#465 Add documentation for nullability feature & regular enum
  .github/styles/Vocab/Docs/accept.txt
  articles/fusion/advanced/endpoints-generator.asciidoc
Labels: AsciiDoc, fusion

#474 Fix references to vaadin.com/start in V14 docs
  articles/flow/integrations/spring/tutorial-spring-basic.asciidoc
  articles/flow/integrations/spring/tutorial-spring-examples.asciidoc
  articles/guide/start/project-wizard.asciidoc
  articles/tools/testbench/testbench-getting-started.asciidoc
Labels: AsciiDoc OK

#472 Fix minimum Maven and Gradle versions required in V14 installation guide
  articles/guide/install/index.asciidoc
  articles/guide/introduction/compatibility.asciidoc
Labels: AsciiDoc OK

#470 Add images to the Collaboration Engine supported use cases
  articles/ce/overview.asciidoc
Labels: AsciiDoc

#469 feat: Add @RouteScope docs for Spring add-on
  articles/flow/integrations/cdi/contexts.asciidoc
  articles/flow/integrations/spring/scopes.asciidoc
Labels: AsciiDoc

#394 feat: Design System Publisher documentation
  articles/_commercial-banner.asciidoc
  articles/tools/dspublisher/custom-theme.asciidoc
  articles/tools/dspublisher/customization.asciidoc
  articles/tools/dspublisher/devmode.asciidoc
  articles/tools/dspublisher/editing.asciidoc
  articles/tools/dspublisher/images/example-image.jpg
  articles/tools/dspublisher/images/tabbed-page.png
  articles/tools/dspublisher/index.asciidoc
  articles/tools/dspublisher/overview.asciidoc
  articles/tools/dspublisher/production.asciidoc
  articles/tools/dspublisher/start.asciidoc
  articles/tools/dspublisher/troubleshooting.asciidoc
  articles/tools/dspublisher/ui-examples.asciidoc
  articles/tools/dspublisher/updating.asciidoc
  articles/tools/overview.asciidoc
Labels: AsciiDoc

#501 fix: clarify routing components scope in Spring
  articles/flow/integrations/spring/scopes.asciidoc
Labels: AsciiDoc

#504 CE: Fix topic-api examples
  articles/ce/topic-api.asciidoc
  src/main/java/com/vaadin/demo/ce/TopicView.java
Labels: Java

#509 Remove /start from Get Started guide
  articles/guide/start/images/newproject-flowchart.png
  articles/guide/start/images/newproject-flowchart.svg
Labels: bug

#483 Expand on links to starters
  articles/guide/start/index.asciidoc
Labels: AsciiDoc

#511 docs: document dsp out of memory issue in troubleshooting
  articles/tools/dspublisher/troubleshooting.asciidoc
Labels: AsciiDoc OK

#512 Add "Importing projects to VSCode" tab and Commonly used IDEs table
  articles/guide/importing/images/vscode/import-java-projects.png
  articles/guide/importing/images/vscode/open-folder.png
  articles/guide/importing/index.asciidoc
  articles/guide/importing/vscode.asciidoc
Labels: AsciiDoc OK

#487 Fix compilation errors in SecurityConfig.java
  articles/fusion/security/spring-login.asciidoc
Labels: Java OK

#515 Suggest excluding vaadin-dev-server module in production mode
  articles/guide/production/index.asciidoc
Labels: AsciiDoc, fusion
