Repository vaadin/docs, pull requests merged in 2021-09, with the labels that each got.

#681 Update quick-start-tutorial.asciidoc
  articles/fusion/tutorials/quick-start-tutorial.asciidoc
Labels: AsciiDoc OK

#697 Update the examples and documentation to use LitRenderer
  articles/ds/components/grid/index.asciidoc
  articles/flow/components/grid.asciidoc
  frontend/demo/init-flow-components.ts
  src/main/java/com/vaadin/demo/component/combobox/ComboBoxPresentation.java
  src/main/java/com/vaadin/demo/component/grid/GridColumnBorders.java
  src/main/java/com/vaadin/demo/component/grid/GridColumnFiltering.java
  src/main/java/com/vaadin/demo/component/grid/GridColumnFreezing.java
  src/main/java/com/vaadin/demo/component/grid/GridContent.java
  src/main/java/com/vaadin/demo/component/grid/GridExternalFiltering.java
  src/main/java/com/vaadin/demo/component/grid/GridItemDetailsToggle.java
  src/main/java/com/vaadin/demo/component/grid/GridNoBorder.java
  src/main/java/com/vaadin/demo/component/grid/GridNoRowBorder.java
  src/main/java/com/vaadin/demo/component/grid/GridRichContentSorting.java
  src/main/java/com/vaadin/demo/component/grid/GridRowReordering.java
  src/main/java/com/vaadin/demo/component/grid/GridRowStripes.java
  src/main/java/com/vaadin/demo/component/grid/GridWrapCellContent.java
Labels: no-polymer, AsciiDoc OK, Java OK, TypeScript OK

#726 chore: update Vaadin version to 21.0.0, revert V22 changes
  articles/ds/components/date-picker/index.asciidoc
  articles/fusion/advanced/endpoints-generator.asciidoc
  articles/fusion/application/accessing-backend.asciidoc
  articles/fusion/forms/appendix-client-side-form-binding-reference.asciidoc
  articles/guide/upgrading.asciidoc
  frontend/demo/component/datepicker/date-picker-custom-format.ts
  frontend/demo/component/datepicker/date-picker-custom-functions.ts
  frontend/demo/component/datepicker/date-picker-locale.ts
  frontend/demo/component/grid/grid-drag-drop-filters.ts
  frontend/demo/component/richtexteditor/rich-text-editor-set-get-value.ts
  frontend/demo/fusion/application/accessing-backend/immutability.ts
  frontend/demo/fusion/application/accessing-backend/readonly-to-mutable.ts
  frontend/demo/fusion/application/accessing-backend/ts-imports/asterisk.ts
  frontend/demo/fusion/application/accessing-backend/ts-imports/barrel.ts
  frontend/demo/fusion/application/accessing-backend/ts-imports/method.ts
  frontend/demo/fusion/application/accessing-backend/ts-info/city.d.ts
  frontend/demo/fusion/application/accessing-backend/ts-info/index.ts
  frontend/demo/fusion/authentication/auth.ts
  frontend/demo/fusion/errorhandling/catch-error.ts
  frontend/demo/fusion/errorhandling/catch-invalid-args.ts
  frontend/demo/fusion/forms/contact-form.ts
  frontend/demo/pwa/offline/ts-view-with-endpoint.ts
  package.json
  pom.xml
  src/main/java/com/vaadin/demo/component/datepicker/DatePickerCustomFormat.java
  src/main/java/com/vaadin/demo/component/datepicker/DatePickerLocale.java
  src/main/java/com/vaadin/demo/fusion/accessingbackend/City.java
  src/main/java/com/vaadin/demo/fusion/accessingbackend/CounterEndpoint.java
  src/main/java/com/vaadin/demo/fusion/accessingbackend/CountryEndpoint.java
Labels: AsciiDoc OK, Java OK, TypeScript OK

#729 docs: fix code example in components generic types
  articles/fusion/advanced/components-definitions.asciidoc
Labels: AsciiDoc OK

#735 chore: fix a broken list format
  articles/shared/guide/_upgrading.asciidoc
Labels: fusion, AsciiDoc OK

#730 CE: Add MessageManager documentation
  articles/ce/components/collaboration-message-list.asciidoc
  articles/ce/managers/message-manager.asciidoc
  src/main/java/com/vaadin/demo/ce/MessageListDocumentation.java
  src/main/java/com/vaadin/demo/ce/MessageManagerExample.java
  src/main/java/com/vaadin/demo/ce/MyMessagePersister.java
Labels: AsciiDoc OK, Java OK

#733 fix: update outdated doc for modifying bootstrap page
  articles/flow/advanced/modifying-the-bootstrap-page.asciidoc
  src/main/java/com/vaadin/demo/flow/advanced/bootstrap/ServiceListener.java
Labels: fusion, AsciiDoc OK, Java OK

#737 Quarkus
  .github/styles/Vocab/Docs/accept.txt
  articles/flow/integrations/quarkus.asciidoc
Labels: AsciiDoc

#746 feat: Simplify data binding with a new helper methods
  articles/flow/binding-data/data-provider.asciidoc
Labels: AsciiDoc

#749 feat: Enable view access checker by default
  articles/flow/security/best-practices.asciidoc
Labels: AsciiDoc

#720 Change DSP installation instructions to use npx
  articles/tools/dspublisher/start.asciidoc
Labels: AsciiDoc OK

#736 fix: Update CRM repo branch
  articles/flow/integrations/spring/view-based-access-control.asciidoc
Labels: AsciiDoc

#756 Moved upgrading guide to its own section
  articles/flow/advanced/modifying-the-bootstrap-page.asciidoc
  articles/flow/guide/upgrading.asciidoc
  articles/flow/upgrading/changes.asciidoc
  articles/flow/upgrading/index.asciidoc
  articles/flow/upgrading/overview.asciidoc
  articles/fusion/application/starting.asciidoc
  articles/fusion/guide/upgrading.asciidoc
  articles/fusion/upgrading/changes.asciidoc
  articles/fusion/upgrading/index.asciidoc
  articles/fusion/upgrading/overview.asciidoc
  articles/shared/upgrading/_changes.asciidoc
  articles/shared/upgrading/_common-steps.asciidoc
  articles/tools/mpr/introduction/5-adding-legacy-components.asciidoc
Labels: fusion, flow, AsciiDoc OK

#747 Remove repetitive re-fetching of principal in docs
  articles/flow/tutorials/in-depth-course/login-and-authentication.adoc
Labels: Java OK

#638 Cherry-pick language corrections from v20 into latest
  articles/ce/going-to-production.asciidoc
  articles/ce/overview.asciidoc
Labels: AsciiDoc OK

#758 docs: add section for Notification.show helper
  articles/ds/components/notification/index.asciidoc
  frontend/demo/component/notification/notification-basic.ts
  frontend/demo/component/notification/notification-contrast.ts
  frontend/demo/component/notification/notification-position.ts
  frontend/demo/component/notification/notification-primary.ts
  frontend/demo/component/notification/notification-static-helper.ts
  frontend/demo/component/notification/notification-success.ts
  src/main/java/com/vaadin/demo/component/notification/NotificationStaticHelper.java
Labels: AsciiDoc OK, Java OK, TypeScript OK

#764 docs: add menubar section for internationalization
  articles/ds/components/menu-bar/index.asciidoc
  frontend/demo/component/menubar/menu-bar-internationalization.ts
  src/main/java/com/vaadin/demo/component/menubar/MenuBarInternationalization.java
Labels: AsciiDoc OK, Java OK, TypeScript OK

#765 Update limitations.asciidoc
  articles/tools/mpr/configuration/limitations.asciidoc
Labels: AsciiDoc OK

#771 docs: add legacy HL/VL documentation
  articles/flow/upgrading/legacy-component-pack.asciidoc
Labels: AsciiDoc

#770 Add maven documentation and doc for nodeAutoUpdate
  articles/flow/guide/configuration/maven.asciidoc
  articles/flow/guide/start/gradle.asciidoc
  articles/fusion/guide/configuration/maven.asciidoc
  articles/shared/guide/configuration/_index.asciidoc
  articles/shared/guide/configuration/_maven.asciidoc
Labels: AsciiDoc OK

#772 feat: introduce API migration instructions
  articles/flow/upgrading/legacy-component-pack.asciidoc
Labels: AsciiDoc

#779 Use double quotes for Java String
  articles/ds/foundation/utility-classes.asciidoc
Labels: AsciiDoc

#773 feat: add fusion package upgrade guide
  articles/shared/upgrading/_changes.asciidoc
Labels: fusion, AsciiDoc OK

#781 Remove incorrect list item
  articles/flow/tutorials/in-depth-course/index.adoc
Labels: AsciiDoc OK

#775 fix: Use pinned supported pnpm version by default
  articles/flow/guide/start/gradle.asciidoc
  articles/shared/guide/configuration/_maven.asciidoc
  articles/shared/guide/install/_index.asciidoc
  articles/shared/guide/production/_index.asciidoc
Labels: AsciiDoc OK
