Repository vaadin/docs, pull requests merged in 2022-01, with the labels that each got.

#991 fix: adjust chart docs to changes introduced with new theme feature
  articles/ds/components/charts/java-api/css-styling.asciidoc
Labels: AsciiDoc OK

#1014 chore: highlight the settings file
  articles/flow/guide/start/gradle.asciidoc
Labels: AsciiDoc

#1016 docs: fix typos detected by yaspeller
  articles/ce/components/collaboration-binder.asciidoc
  articles/flow/templates/polymer/model-bean.asciidoc
  articles/fusion/pwa/cache-client-side-data.asciidoc
  articles/fusion/security/vulnerabilities.asciidoc
  articles/fusion/tutorials/in-depth-course/installing-and-offline-pwa.adoc
  articles/tools/dspublisher/troubleshooting.asciidoc
  articles/tools/mpr/introduction/1-maven-v7.asciidoc
  articles/tools/mpr/introduction/1-maven-v8.asciidoc
  articles/tools/testbench/ci-server.asciidoc
  articles/tools/testbench/creating-tests.asciidoc
  articles/tools/testbench/low-level-element-interactions.asciidoc
  articles/tools/testbench/maintainable-tests-using-page-objects.asciidoc
  articles/tools/testbench/making-tests-reliable.asciidoc
  articles/tools/testbench/overview.asciidoc
  articles/tools/testbench/running-test-on-multiple-browsers.asciidoc
Labels: AsciiDoc OK

#1013 How to run postinstall for custom npm packages
  articles/shared/guide/install/_pnpm.asciidoc
Labels: AsciiDoc OK

#1018 feat: use npm as the default frontend pacakge manager
  articles/flow/configuration/npm-pnpm.asciidoc
  articles/fusion/configuration/npm-pnpm.asciidoc
  articles/shared/guide/configuration/_npm-pnpm.asciidoc
  articles/shared/guide/install/_npm.asciidoc
  articles/shared/guide/install/_pnpm.asciidoc
  articles/upgrading/common/_22-23.adoc
Labels: fusion, AsciiDoc OK

#1022 Change admin role in example to match one defined in 'SecurityConfigu…
  articles/flow/integrations/spring/view-based-access-control.asciidoc
Labels: AsciiDoc OK

#1019 Simplify Flow's production build instructions
  articles/flow/production/production-build.adoc
Labels: AsciiDoc OK

#1023 docs: use items API in select examples
  articles/ds/components/select/index.asciidoc
  frontend/demo/component/select/select-basic.ts
  frontend/demo/component/select/select-complex-value-label.ts
  frontend/demo/component/select/select-disabled.ts
  frontend/demo/component/select/select-dividers.ts
  frontend/demo/component/select/select-placeholder.ts
Labels: TypeScript OK

#1025 Use `latest`, not `prerelease` for Flow tutorial download
  articles/flow/tutorial/project-setup.adoc
Labels: AsciiDoc OK

#1024 Add Azure and AWS deployment instructions
  articles/flow/production/cloud-providers/aws/images/aws-deploy-success.png
  articles/flow/production/cloud-providers/aws/index.adoc
  articles/flow/production/cloud-providers/azure/images/azure-choices.png
  articles/flow/production/cloud-providers/azure/images/azure-deploy-success.png
  articles/flow/production/cloud-providers/azure/index.adoc
  articles/flow/production/cloud-providers/index.adoc
  articles/fusion/production/cloud-providers.asciidoc
  articles/fusion/production/cloud-providers/aws/images/aws-deploy-success.png
  articles/fusion/production/cloud-providers/aws/index.adoc
  articles/fusion/production/cloud-providers/azure/images/azure-choices.png
  articles/fusion/production/cloud-providers/azure/images/azure-deploy-success.png
  articles/fusion/production/cloud-providers/azure/index.adoc
  articles/fusion/production/cloud-providers/index.adoc
  articles/shared/guide/production/cloud-providers/_aws.adoc
  articles/shared/guide/production/cloud-providers/_azure.adoc
  articles/shared/guide/production/cloud-providers/_cloud-providers.adoc
Labels: AsciiDoc OK

#1029 docs: add tabindex limitation to upgrading guide
  articles/ds/upgrading.asciidoc
Labels: AsciiDoc OK

#1028 Add deploy to Heroku and Google Cloud instructions
  articles/flow/production/cloud-providers/google/index.adoc
  articles/flow/production/cloud-providers/heroku/images/heroku-create-success.png
  articles/flow/production/cloud-providers/heroku/index.adoc
  articles/fusion/production/cloud-providers/google/index.adoc
  articles/fusion/production/cloud-providers/heroku/images/heroku-create-success.png
  articles/fusion/production/cloud-providers/heroku/index.adoc
  articles/shared/guide/production/cloud-providers/_google-cloud.adoc
  articles/shared/guide/production/cloud-providers/_heroku.adoc
Labels: AsciiDoc

#1036 Update the hard coded version in upgrade_tools
  frontend/demo/upgrade-tool/upgrade-tool.ts
Labels: TypeScript

#1015 Add documentation for interpolateMessageCallback (V23)
  articles/fusion/forms/binder-validation.asciidoc
Labels: fusion, AsciiDoc OK

#1031 Update links to cloud deployment tutorials
  articles/flow/tutorial/production-deployment.adoc
  articles/fusion/tutorials/in-depth-course/production-build-and-deployment.adoc
Labels: AsciiDoc OK

#1001 English-language improvements to Flow Get Started section
  .github/styles/Vocab/Docs/accept.txt
  articles/flow/application/events.asciidoc
  articles/flow/application/main-view.asciidoc
  articles/flow/application/resources.asciidoc
  articles/flow/application/routing-navigation.asciidoc
  articles/flow/application/styling.asciidoc
  articles/flow/components/basic-features.asciidoc
  articles/flow/components/creating-components/basic.asciidoc
  articles/flow/components/creating-components/composite.asciidoc
  articles/flow/components/creating-components/events.asciidoc
  articles/flow/components/creating-components/extending-component.asciidoc
  articles/flow/components/creating-components/lifecycle-callbacks.asciidoc
  articles/flow/components/creating-components/many-elements.asciidoc
  articles/flow/components/creating-components/property-descriptor.asciidoc
  articles/flow/components/enabled-state.asciidoc
  articles/flow/components/shortcut.asciidoc
  articles/flow/components/standard-html.adoc
  articles/flow/components/web-components/an-in-project-web-component.asciidoc
  articles/flow/components/web-components/debugging-a-web-component-integration.asciidoc
  articles/flow/components/web-components/index.asciidoc
  articles/flow/components/web-components/introduction-to-webcomponents.asciidoc
  articles/flow/components/web-components/java-api-for-a-web-component.asciidoc
  articles/flow/guide/quick-start.adoc
  articles/flow/guide/start/gradle.asciidoc
  articles/flow/guide/start/index.asciidoc
  articles/flow/guide/start/maven-archetype.asciidoc
  articles/flow/tutorial/_heroku-steps.adoc
  articles/flow/tutorial/e2e-testing-with-testbench.adoc
  articles/flow/tutorial/handling-view-state.adoc
  articles/flow/tutorial/installing-and-offline-pwa.adoc
  articles/flow/tutorial/login-and-authentication.adoc
  articles/flow/tutorial/navigation-and-layouts.adoc
  articles/flow/tutorial/overview.adoc
  articles/flow/tutorial/production-deployment.adoc
  articles/flow/tutorial/unit-and-integration-testing.adoc
  articles/shared/guide/importing/_eclipse.asciidoc
  articles/shared/guide/importing/_index.asciidoc
  articles/shared/guide/importing/_intellij.asciidoc
  articles/shared/guide/importing/_vscode.asciidoc
  articles/shared/guide/running/_eclipse.asciidoc
  articles/shared/guide/running/_index.asciidoc
  articles/shared/guide/running/_intellij.asciidoc
  articles/shared/guide/running/_netbeans.asciidoc
Labels: AsciiDoc OK

#1039 English-language updates to binder-validation.asciidoc
  articles/fusion/forms/binder-validation.asciidoc
Labels: AsciiDoc OK

#952 feat: style individual menu bar items
  articles/ds/components/menu-bar/index.asciidoc
  frontend/demo/component/menubar/menu-bar-custom-theme.ts
  frontend/themes/docs/components/vaadin-context-menu-item.css
  frontend/themes/docs/components/vaadin-menu-bar-button.css
  src/main/java/com/vaadin/demo/component/menubar/MenuBarCustomTheme.java
Labels: AsciiDoc OK, Java OK, TypeScript OK
