Repository vaadin/docs, pull requests merged in 2025-05, with the labels that each got.

#4144 Document Kubernetes Kit backend session expiration policy
  articles/tools/kubernetes/configuration.adoc
Labels: Language checked

#4294 docs: refactor impersonation example
  articles/flow/security/enabling-security.adoc
Labels: flow

#4243 Add note about Vaadin scoped beans
  articles/flow/integrations/spring/scopes.adoc
Labels: flow

#4244 Add note about Vaadin scoped beans and serialization
  articles/flow/integrations/cdi/contexts.adoc
Labels: flow, designer
